#containerIngre{
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(68,89,150,1) 0%, rgba(13,89,193,1) 81%) !important;
    height: 100%;
}
#headerIngre{
    height: 35%;
}
#footerIngre{
    background: #ffff;
    border-radius: 20px 20px 0px 0px;
    height: 75%;
}
h2{
    padding-top: 5px;
    color: gray;
    text-align: center;
    font-weight: bold;
}
h3{
    padding-top: 5px;
    color: gray;
    text-align: center;
    font-weight: bold;
}
#btnIngresar{
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(68,89,150,1) 0%, rgba(13,89,193,1) 81%) !important;
    height: 2.2rem;
    width: 100%;
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px ;
}
#itemIngre{
    padding-top: 30px;
    margin-left: 10%;
    width: 80%;
}
#pieIngre{
    margin-top: 50px;
    margin-left: 40%;
}
