#containerInve{
    background: #ffff;
    height: 100%;
}
#itemNombre{
    font-size: 14px;
    font-weight: bold;
}
#itemDetalle{
    gap: 1rem;
}
#descrip{
    display: flex;
    gap: 2rem;
}
#barra{
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(68,89,150,1) 0%, rgba(13,89,193,1) 81%) !important;
}
p{
    color: #ffff;
    text-align: center;
}