#containerRegis{
    background: rgb(0, 52, 150) !important;
    height: 100%;
}
#headerRegis{
    height: 30%;
}
#footerRegis{
    background: #ffff;
    border-radius: 20px 20px 0px 0px;
    height: 70%;
}
h2{
    color: gray;
    text-align: center;
    font-weight: bold;
}
#btnValidar{
    background: rgb(0, 52, 150);
    height: 2rem;
    width: 15rem;
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 10% ;
    margin-top: 20px ;
}
#itemRegis{
    margin-left: 10%;
    width: 80%;
}
#pieRegis{
    margin-top: 50px;
    margin-left: 40%;
}
img{
    padding-top: 30px;
}
