#containerRegis{
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(68,89,150,1) 0%, rgba(13,89,193,1) 81%) !important;
    height: 100%;
}
#headerRegis{
    height: 30%;
}
#footerRegis{
    background: #ffff;
    border-radius: 20px 20px 0px 0px;
    height: 70%;
}
h2{
    color: gray;
    text-align: center;
    font-weight: bold;
}
#btnValidar{
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(68,89,150,1) 0%, rgba(13,89,193,1) 81%) !important;
    height: 2.2rem;
    width: 100%;
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    /*box-shadow: 5 5 5 0 gray;*/
    margin-top: 20px ;
}
#itemRegis{
    margin-left: 10%;
    width: 80%;
}
#pieRegis{
    margin-top: 50px;
    margin-left: 40%;
}
img{
    padding-top: 30px;
}
